
<br><br>
<form action="/api/sessions/login" method="post">
<label for="user">E-mail: </label>
<input type="text" name="email">
<br><br>
<label for="password">Contraseñá: </label>
<input type="text" name="password">
<br><br>
<button type="submit"> Iniciar </button>
</form>