<h3>Login</h3>
<br><br>
<form action="/login" method="post">
<label for="user">Usuario: </label>
<input type="text" name="user" required>
<br><br>
<label for="password">Contraseñá: </label>
<input type="text" name="password" required>
<br><br>
<button type="submit"> Iniciar </button>
</form>