<h3>Registro</h3>
<br><br>
<form action="/register" method="post">
<label for="user">Nombre de usuario: </label>
<input type="text" name="user">
<br><br>
<label for="password">Contraseñá: </label>
<input type="text" name="password">
<br><br>
<button type="submit"> Registrarse</button>
</form>